/data
/Gaussian-Grouping
/checkpoint
/result
__pycache__/
output/
output_depth/
output_original/
Tracking-Anything-with-DEVA/example
Tracking-Anything-with-DEVA/saves
.bash_history
.bashrc
.cache/
.conda/
.local/
/wandb
build/
*.o
*.so
*.a
*.log
*.egg-info/
